html, body {
  height: 100%;
}

html {
  margin: auto;
}

.custom-table {
  border-collapse: collapse;
}

.custom-table tr {
  border: 1px solid #ccc;
}

/*
.custom-table th {
  background-color: #f2f2f2;
}
*/