<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sporty Shoes - Admin Home Page</title>
</head>
<body>
	<h2>Welcome to Sporty Shoes Admin Home Page</h2>
	<a th:href="@{/viewCategoryPage}">View Categories</a> |
	<a th:href="@{/addCategoryPage}">Add Category</a> |
	<a th:href="@{/viewProductsAdmin}">View Products</a> |
	<a th:href="@{/addProductPage}">Add Product</a> |
	<a th:href="@{/viewCustomers}">View Customers</a> |
	<br>
	<a th:href="@{/openUpdateAdminPassword}">Update Password</a> |
	<a th:href="@{/}">Logout</a> |
</body>
</html>