<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sporty Shoes - Admin Update Password</title>
</head>
<body>
	<h2>Sporty Shoes - Admin Update Password</h2>
	<form action="#" th:action="@{/updateAdminPassword}" th:object="${login}" method="post">
		<label>Type new Password</label><br/>
		<input type="password" th:field="*{password}"/><br/>
		
		<input type="submit" value="Update Password"/>
	</form>
</body>
</html>